body {
  width: 100%;
  height: 100%;
  margin: 0;
}

div {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

a:-webkit-any-link  {
  padding: 10px 10px;
  background: #DCDCDC;
}

figcaption {
  text-align: center;
  font-size:15px;
}

p {
  width: 800px;
  position: center;
}

