body {
  width: 100%;
  height: 100%;
  margin: 0;
}

div {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

a href {
  padding: 10px 10px;
  background: #DCDCDC;
}