header {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

div {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

nav {
  padding: 10px 10px;
  background: #DCDCDC;
}

figcaption {
  text-align: center;
  font-size:15px;
}

section p {
  width: 800px;
  text-align: center;
}

div {
  position: fixed;
  display: block;
  bottom:25%;
  left:0;
  width: 100%;
  float: left;
  background-color: red;
  text-align: center;
}
